.courseDetailsContainer {
    padding: 20px;
    background-color: var(--white);
    max-width: 800px;
    margin: 0 auto;
  }
  
  .courseDetailsContainer h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .courseDetailsContainer p {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .courseDetailsContainer .errorMessage {
    color: red;
  }
  