.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--pale-orange);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .searchInput {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border: 1px solid var(--white);
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    outline: none;
  }
  
  .searchInput:focus {
    border-color: var(--dark-blue);
  }
  
  .searchButton {
    background-color: var(--dark-blue);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .searchButton:hover {
    background-color: var(--blue);
  }
  
  .searchButton svg {
    width: 20px;
    height: 20px;
    fill: white;
  }