.Header {
    background: var(--white);
    box-shadow: 0 0 0.4rem var(--brown);
    font-size: 0.75rem;
    padding: 0.75rem 0.75rem;
    color: var(--black);
    position: absolute;
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header h1 {
    text-align: center;
    color: var(--white);
}

.Header img {
    width: 2.5%;
    border-radius: 7.5px;
}
