body {
    margin: 0;
    padding: 0;
}

.Header {
    background: var(--dark-blue);
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
    color: var(--black);
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: 10;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header img {
    width: 50px;
    border-radius: 7.5px;
    margin-left: 1rem;
}
