.LoginPage {
    display: flex;
    justify-content: center;
}

.LoginPage .left {
    background: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginPage .right {
    background: var(--pale-orange);
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LoginPage img {
    width: 50%;
}
