.Footer {
    background: var(--dark-blue);
    color: var(--black);
    position: fixed;
    bottom: 0; 
    left: 0;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.Footer h1 {
    text-align: center;
    color: var(--white);
    font-size: 10pt;
}