.courseDetailsContainer {
  max-width: 110rem;
  width: 100%;
  margin: 8rem auto;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 8px;
  border: 1px solid var(--dark-blue);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 2rem;
}

.aboutCourse {
  background: linear-gradient(135deg, var(--dark-blue), var(--blue));
  padding: 20px 35px;
  border-radius: 10px;
  margin-bottom: 2rem;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.courseDetailsContainer h1 {
  font-size: 42px;
  color: var(--white);
  margin-bottom: 1.5rem;
  padding: 1rem 2rem;
  background: linear-gradient(135deg, var(--dark-blue), var(--dark-blue));
  border-radius: 10px;
  display: inline-block;
}

.courseDescription {
  font-size: 18px;
  color: var(--white);
  margin-bottom: 1.5rem;
  text-align: center;
}

.courseInfo {
  font-size: 16px;
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem 0;
}

.courseInfo p {
  color: var(--white);
  font-weight: bold;
}

.lessonsContainer {
  margin-top: 1rem;
  background-color: #e16e1e;
  border-radius: 15px;
  padding: 20px 35px;
}

.lessonsContainer h2 {
  font-size: 36px;
  color: var(--white);
  margin-bottom: 2rem;
  text-align: center;
  background: linear-gradient(135deg, var(--dark-blue), var(--blue));
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.lessonItem {
  background-color: var(--white);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--dark-blue);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videoContainer {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.videoContainer iframe {
  width: 100%;
  max-width: 700px;
  height: 315px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.lessonContent {
  width: 100%;
  text-align: center;
}

.lessonItem h3 {
  font-size: 28px;
  color: var(--dark-blue);
  margin-bottom: 1rem;
}

.lessonItem p {
  font-size: 16px;
  color: var(--dark);
  margin: 0.5rem auto;
}

.followButton,
.forumButton,
.ratingButton {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.followButton {
  background-color: var(--red);
}

.followButton:hover {
  background-color: var(--dark-red);
}

.forumButton {
  background-color: var(--dark-blue);
}

.forumButton:hover {
  background-color: var(--blue);
}

.ratingButton {
  background-color: var(--orange);
}

.ratingButton:hover {
  background-color: var(--pale-orange);
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 400px;
  text-align: center;
}

.modal h2 {
  margin-bottom: 1rem;
  color: var(--dark-blue);
}

.modal input[type='number'] {
  width: 100%;
  padding: 10px;
  margin: 1rem 0;
  border: 1px solid var(--dark-blue);
  border-radius: 5px;
  font-size: 16px;
}

.modal button {
  padding: 10px 20px;
  background-color: var(--dark-blue);
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:hover {
  background-color: var(--blue);
}

.recommendedCoursesContainer {
  margin-top: 2rem;
  padding: 2rem;
  background-color: var(--light-gray);
  border-radius: 8px;
  border: 1px solid var(--dark-blue);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.recommendedCoursesContainer h2 {
  font-size: 36px;
  color: var(--white);
  text-align: center;
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;
  background: linear-gradient(135deg, var(--dark-blue), var(--blue));
  border-radius: 10px;
}

.recommendedCourseItem {
  background-color: var(--white);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--dark-blue);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.3s;
}

.recommendedCourseItem:hover {
  transform: translateY(-5px);
}

.recommendedCourseItem h3 {
  font-size: 28px;
  color: var(--dark-blue);
  margin-bottom: 1rem;
}

.recommendedCourseItem p {
  font-size: 16px;
  color: var(--dark);
  margin: 0.5rem 0;
  text-align: left;
  line-height: 1.5;
}

.recommendedCourseItem .courseInfo {
  margin-top: 1rem;
  font-size: 14px;
  color: var(--dark);
  line-height: 1.4;
}

.recommendedCourseItem .courseInfo p {
  margin-bottom: 0.5rem;
}

.recommendedCourseItem .courseInfo strong {
  font-weight: bold;
}

.recommendedCourseItem button {
  margin-top: 1rem;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: var(--white);
  background-color: var(--orange);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.recommendedCourseItem button:hover {
  background-color: var(--dark-orange);
}

/* Estilo do botão de Emitir Certificado */
.certificadoButton {
  background-color: #4CAF50; /* Verde */
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.certificadoButton:hover {
  background-color: #45a049;
}

/* Estilo do Certificado */
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 600px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.modal p {
  font-size: 16px;
  margin: 10px 0;
}

.modal .btnClose {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.modal .btnClose:hover {
  background-color: #e53935;
}

/* Estilo do Certificado Gerado */
.certificadoContainer {
  padding: 20px;
  text-align: center;
  background-color: #f7f7f7;
  border: 2px solid #ddd;
  border-radius: 10px;
}

.certificadoContainer h1 {
  font-size: 28px;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  color: #4CAF50;
}

.certificadoContainer p {
  font-size: 18px;
  margin: 15px 0;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.certificadoContainer .certificadoDate {
  font-size: 16px;
  font-style: italic;
  color: #777;
}

.certificadoContainer .logo {
  margin-top: 30px;
  width: 100px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.certificadoButton {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.certificadoButton:hover {
  background-color: #45a049;
}


