:root {
    --orange: #ed6b11;
    --light-orange: #fe9925;
    --dark-orange: #aa593b;
    --pale-orange: #db703c;
    --brown: #49260f;
    --white: #ffffff;
    --blue: #1173be;
    --dark-blue: #1d2c5a;
    --green: #2ada25;
    --black: #272727;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--white);
}

body, input, textarea, button {
    font-family: sans-serif;
}